@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Raleway&display=swap");

body {
  width: 100vw;
  margin: 0;
  background: #839b97;
}

header {
  line-height: 80px;
  text-align: center;

  font-family: "Goudy Bookletter 1911", serif;
  font-size: 2rem;
}

#library-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.book-card {
  width: 500px;
  margin: 20px;
  background: #cfd3ce;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);

  opacity: 0;
  transition: opacity 0.8s linear;
}

.title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;

  border-bottom: 2px solid black;
}

.title-box h3 {
  text-align: center;
  justify-self: center;
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 2.5rem;

  padding: 1rem 1.5rem;
  margin: 0;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 60%;
  margin: 20px auto;

  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  line-height: 1rem;
}

.info-tag {
  font-size: 1.4rem;
  font-weight: bolder;
}

#menu {
  position: fixed;
  left: 30px;
  top: 30px;

  display: flex;
  flex-direction: column;
}

.menu-btn {
  margin-bottom: 15px;
}

#add-book-btn {
  background-image: url("./icons/book_add_white.png");
  background-color: #34626c;
  background-size: cover;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  border-radius: 7px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0;

  cursor: pointer;
}

#delete-all-btn {
  background-image: url("./icons/remove_white.png");
  background-color: #a20a0a;
  background-size: cover;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  border-radius: 7px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0;

  cursor: pointer;
}

.card-btn-container {
  display: flex;
  align-items: center;
}

.read-toggle-btn {
  height: 50px;
  min-width: 70px;
  border: none;
  outline: none;
  border-radius: 7px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin: 15px;
  padding: 10px;

  font-size: 1rem;

  cursor: pointer;
}

.delete-btn {
  background-image: url("./icons/trash_black.png");
  background-color: #a20a0a;
  background-size: cover;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  border-radius: 7px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 15px;

  cursor: pointer;
}

#gray-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.7);
  opacity: 0;

  transition: opacity 0.8s;
}

#form-div {
  position: fixed;
  top: 150px;
  width: 700px;
  left: 0;
  right: 0;
  margin: 0 auto;

  opacity: 0;
  z-index: 3;

  transition: opacity 0.8s;
}

#add-book-form {
  background: #cfd3ce;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  font-family: "Raleway", sans-serif;
}

#add-book-form h2 {
  text-align: center;
  font-size: 2rem;
}

#add-book-form label {
  display: block;
  padding: 15px 0;
  font-size: 1.5rem;
}

.checkbox {
  margin: 0 15px 0 0;
}

#submit-btn {
  padding: 10px 15px;
  background-color: #34626c;
  color: white;
  font-size: 1.2rem;
}

#close-form-btn {
  background-image: url("./icons/close-white.png");
  background-color: #34626c;
  background-size: cover;
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  border-radius: 7px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 0;

  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}

.visible {
  opacity: 1;
}
